/*------------componentes en crudo-------*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body{
    display: grid;
    height: 100vh;
}

@media screen and ( min-width: 720px){
    
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

h1{
    font-weight: 300;
}

/*------------menu-------*/
.main-nav{
    background-color: rgb(238, 238, 238, .95);
    position: fixed;
    z-index: 100;
    width: 100%;
   }
   
   .nav{
       width: max-content;
       margin: 0 auto;
   }
   
   .nav__item{
       display: inline-block;
       margin: 0 1rem;
   }
   
   .nav__item a{
       color: #777;
       display: inline-block;
       padding: .5rem 0;
       border-bottom: solid 2px rgba(0,0,0,0);
   }
   .nav__item a:hover{
       border-bottom: solid 4px #777;
   }
   
   
   @media (min-width: 740px){
       .main-nav{
           width: 50%;
           bottom: 1rem;
       }
   }
  

/*------------contenedores-------*/

/*------------contenedores 1-------*/
.Cont1 {
    background-color: rgb(227, 248, 248);
    padding: 1rem;
}

.Ch1{
    margin: 2rem 1rem 0rem 1rem;
    width: 12rem;
    font-size: 2.5rem;
}


.Ch1p{
    margin: 0rem auto;
    width: 20rem;
    font-size: xx-small;
}



@media screen and ( min-width: 520px){
    
    .Cont1 {
        height: 50vh;
        display: flex;
    }

    .Ch1{
        width: 16rem;
        font-size: 4rem;
        margin: auto;

    }

    .Ch1p { 
        width: 20rem;
        font-size: 0.8rem ;
        margin: auto;
    }
}

@media screen and ( min-width: 740px){
    
    .Cont1 {
        width: 50vw;
        height: 100vh;
        grid-row: span 2;
        display: block;
    }

    .Ch1{
        width: 20rem;
        font-size: 4.5rem;
        margin-left: 1rem;
    }

    .Ch1p { 
        width: 20rem;
        font-size: 0.8rem ;
        margin: 1rem auto;
    }
}


/*------------contenedores 2-------*/

.Cont2 {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.Ch2{
    width: 15rem;
    font-size: 1.5rem;
}


.Ch2p{
    margin: 0rem auto;
    width: 20rem;
    font-size: xx-small;
}





@media screen and ( min-width: 520px){
    
    .Cont2 {
        height: 35vh;
        display: inline-flex;
    }


    .Ch2{
        width: 16rem;
        font-size: 2rem;
        margin: auto ;

    }

    .Ch2p { 
        width: 20rem;
        font-size: 0.8rem ;
        margin: auto;
    }
}

@media screen and ( min-width: 740px){
    
    .Cont2 {
        height: 50vh;
        display: block;
    }


    .Ch2{
        width: 20rem;
        font-size: 2rem;
        margin-left: 1rem;

    }

    .Ch2p { 
        width: 20rem;
        font-size: 0.8rem ;
        margin: 1rem auto;
    }
}


/*------------contenedores 3-------*/

.Cont3 {
    background-color: rgb(223, 226, 226);
}

.Ch3{
    margin: 2rem 1rem 0rem 1rem;
}

.Ch3contenedor{
    overflow: hidden;
    padding: 0.3rem;
    height: 10rem;
    width: 80%;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
}


.Ch3ContItem {
    background-color: beige;
    border-radius: .5rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.Ch3ContItem img{
    max-height: 100%;
    transition: 0.5s;
    filter: grayscale(100%);
}


.Ch3ContItem:hover img{
    max-height: 120%;
    filter: grayscale(0%);

}


@media screen and ( min-width: 740px){
    
    .Cont3 {
        height: 50vh;

    }


    .Ch3{
        width: 20rem;
        font-size: 2rem;
        margin: 1rem;

    }

    .Ch3contenedor{
      
        height: 70%;
        width: 90%;
        margin-inline: 0.5rem auto;
        
    }


}
