/*------------componentes en crudo-------*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

p{
    font-size: xx-small;
}

body{
    display: grid;
    height: 100vh;
}

@media screen and ( min-width: 714px){
    
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}


/*------------contenedores-------*/


.Cont1 {
    background-color: rgb(227, 248, 248);
}

.Ch1{
    width: 3rem;
    font-size: 3rem;
    font-family: thin;
}


@media screen and ( min-width: 714px){
    
    .Cont1 {
        height: 100vh;
        grid-row: span 2;

    }
}

.Cont2 {
    background-color: rgb(255, 255, 255);
}


@media screen and ( min-width: 714px){
    
    .Cont2 {
        height: 50vh;
    }
}


.Cont3 {
    background-color: rgb(223, 226, 226);
}

@media screen and ( min-width: 714px){
    
    .Cont3 {
        height: 50vh;
    }
}
