/*------------componentes en crudo-------*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 100vh;
}

@media screen and ( min-width: 714px){
    
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}



/*------------contenedores-------*/


.Cont1 {
    background-color: antiquewhite;
}

@media screen and ( min-width: 714px){
    
    .Cont1 {
        height: 100vh;
        grid-row: span 2;

    }
}

.Cont2 {
    background-color: rgb(245, 195, 130);
}


@media screen and ( min-width: 714px){
    
    .Cont2 {
        height: 50vh;
    }
}


.Cont3 {
    background-color: rgb(37, 196, 188);
}

@media screen and ( min-width: 714px){
    
    .Cont3 {
        height: 50vh;
    }
}
